<% content_for :navbar do %>
  <%= render 'header_edit' %>
<% end %>

<section class="container-fluid">
  <div class="container-sm py-3 px-0">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form mb-3' }) do |f| %>
      
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field mb-2">
        <%= f.label :password, class: 'd-none' %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', autofocus: true,
                                        placeholder: "Password#{@minimum_password_length ? " (#{@minimum_password_length} characters minimum)" : ''}" %>
      </div>

      <div class="field mb-2">
        <%= f.label :password_confirmation, class: 'd-none' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Password confirmation' %>
      </div>

      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>

    <% end %>
  </div>
</section>
