<% content_for :navbar do %>
  <%= render 'header_new' %>
<% end %>

<section class="container-fluid overflow-auto">
  <div class="container-sm py-3 px-0">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form mb-3' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-2">
        <%= f.label :email, class: 'visually-hidden' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
      </div>

    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</section>
