<% content_for :navbar do %>
  <%= render 'header_index' %>
<% end %>

<section class="d-flex flex-column h-100 pb-3 overflow-auto">
  <%= render 'components/balance_bar' %>
  <div class="container-fluid py-2">
    <div class="container-sm category-item flex-column">
      <h3 class="mb-2">Account metrics:</h3>
      <div class="container-fluid mb-2">
        <ul class="row row-cols-1 row-cols-sm-3 list-group list-group-horizontal list-unstyled">
          <li class="col gx-3 py-1">
            <div class="list-group-item list-group-item-success">
              <p class="mb-2 text-center">Total deposited</p>
              <p class="m-0 text-center">$<%= @total_deposits.to_f %></p>
            </div>
          </li>
          <li class="col gx-3 py-1">
            <div class="list-group-item list-group-item-warning">
              <p class="mb-2 text-center">Total expended</p>
              <p class="m-0 text-center">$<%= @total_expenses.to_f %></p>
            </div>
          </li>
          <li class="col gx-3 py-1">
            <div class="list-group-item list-group-item-danger">
              <p class="mb-2 text-center">Total withdrawn</p>
              <p class="m-0 text-center">$<%= @total_withdrawals.to_f.abs %></p>
            </div>
          </li>
        </ul>
      </div>
      <h4 class="text-decoration-underline">Expenses by categories</h4>
      <div class="position-relative mb-3">
        <%= bar_chart bar_chart_data, bar_chart_options %>
        <% if @categories_expenses.empty? %>
          <div
            class="position-absolute text-center top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center"
            style="background: #7a848e38;"
          >
            There are no metrics available at this moment.
          </div>
        <% end %>
      </div>
      <h4 class="text-decoration-underline m-0">Daily transactions</h4>
      <turbo-frame id="line-chart">
        <div class="position-relative">
          <div class="text-end">
            <%= 
              link_to_if params[:lchart_days] == '7', 'Last 14 days', url_for(only_path: true, params: { lchart_days: 14 }) do
                link_to 'Last 7 days', url_for(only_path: true, params: { lchart_days: 7 })
              end 
            %>
          </div>
          <%= line_chart line_chart_data, line_chart_options %>
        </div>
      </turbo-frame>
    </div>
  </div>
  <div class="container-fluid bg-light py-2">
    <div class="container-sm">
      <h3 class="m-0 fs-4">Transaction history</h3>
    </div>
  </div>
  <% if @user_budget_ops.empty? %>
    <p class="text-center mt-3">There are no transactions yet.</p>
  <% else %>
    <div class="container-fluid">
      <div class="container-sm pt-2">
        <ul class="categories-list gap-1">
          <turbo-frame id="page-<%= params[:page] %>">
            <%= render partial: 'categories/operation', collection: @user_budget_ops %>
            <div class="text-center">
              <% if params[:page].to_i + 1 < max_pages(@budget_operations_length) %>
                <%= link_to 'Load older transactions', url_for(only_path: true, params: { page: params[:page].to_i + 1, page_items: params[:page_items] }),
                            data: { turbo_frame: "page-#{params[:page].to_i + 1}" }, onclick: 'this.style.display = "none"' %>
              <% end %>
            </div>
            <turbo-frame id="page-<%= params[:page].to_i + 1 %>">
            </turbo-frame>
          </turbo-frame>
        </ul>
      </div>
    </div>
  <% end %>
  <div>
    <%= debug @test %>
  </div>
  
</section>
