<%= form_with(model: category, url: categories_path, class: 'form', id: 'new_category') do |form| %>
  <% if category.errors.any? %>
    <div data-turbo-cache="false">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field avatar mb-3" data-controller="avatar" data-avatar-placeholder-pic-value=<%= asset_path 'placeholder-icon.png' %>>
    <div class="preview">
      <%= image_tag 'placeholder-icon.png', data: { avatar_target: 'preview' }, alt: 'category-icon',
                                            class: 'rounded' %>
    </div>
    <div class="image-upload overflow-hidden" data-avatar-target="uploadArea">
      <div class="d-flex align-items-center mb-2 flex-wrap" style="column-gap: 0.5rem; row-gap: 0.3rem;">
        <div class="file-picker">
          <%= form.label :icon, 'Upload icon', class: 'btn btn-link p-0' %>
          <%= form.file_field :icon, data: { action: 'change->avatar#update', avatar_target: 'picture' },
                                    accept: 'image/jpeg, image/png, image/gif' %>
        </div>
        <div>|</div>
        <div>
          <button type="button" class="btn btn-link p-0" style="font-size: 1.2rem" data-action="avatar#showUrlInput">
            Load from URL
          </button>
        </div>
      </div>
      <div class="file-selection">
        <small data-avatar-target="fileName">No file chosen...</small>
        <button type="button" class="d-none" data-avatar-target="clearBtn" data-action="click->avatar#destroy">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="field mb-2">
    <%= form.label :name, class: 'd-none' %>
    <%= form.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'd-none' %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Description (optional)', rows: '4' %>
  </div>

<% end %>
