<nav class="navbar navbar-dark bg-primary navbar-expand-lg sidebar">
  <div
    class="offcanvas-lg offcanvas-start"
    data-controller="slide-menu"
    data-action="open-menu:openmenu@document->slide-menu#open"
    tabindex="-1"
    id="offcanvasNavbar"
    data-turbo-permanent
    aria-labelledby="offcanvasNavbarLabel"
  >
    <div class="offcanvas-header">
      <h1 class="offcanvas-title text-light" id="offcanvasNavbarLabel">
        <%= link_to 'MyBudgetApp', root_path, class: 'text-reset text-decoration-none' %>
      </h1>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
      <div class="avatar mb-2" data-controller="flex-wrapped-helper" data-flex-wrapped-helper-minwidth-value="992" data-flex-wrapped-helper-triggered-class="flex-wrapped">
        <figure class="figure rounded-circle border overflow-hidden">
          <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar, alt: 'avatar' %>
          <% else  %>
            <%= image_tag 'profile-pic.png', alt: 'avatar' %>
          <% end %>
        </figure>
        <p data-flex-wrapped-helper-target="element"><%= current_user.name %></p>
      </div>
      <ul class="navbar-nav justify-content-end flex-grow-1 fs-5">
        <li class="nav-item">
          <%= link_to 'Categories', root_path, class: 'nav-link', aria: { current: 'page' } %>
        </li>
        <li class="nav-item">
          <%= link_to 'My budget', my_budget_path, class: 'nav-link', aria: { current: 'page' } %>
        </li>
        <li class="nav-item">
          <%= link_to 'Account settings', edit_user_registration_path, class: 'nav-link', aria: { current: 'page' } %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', aria: { current: 'page' },
                                                            data: { turbo_method: 'delete' }, status: :see_other %>
        </li>
      </ul>
    </div>
  </div>
</nav>
