<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex">
    <% if user_signed_in? %>
      <%= render 'navigation/sidebar' %>
    <% end %>
    
    <div class="flex-grow-1 d-flex flex-column">
      <% if content_for? :navbar %>
        <nav class="container-fluid navbar navbar-dark bg-primary navbar-expand-lg">
          <div class="container-sm d-flex p-0">
            <%= yield :navbar %>
          </div>
        </nav>
      <% end %>
      <% if notice %>
        <div data-turbo-cache="false" class="alert alert-secondary alert-dismissible fade show mt-2 mb-0"role="alert">
          <strong><%= notice %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if alert %>
        <div data-turbo-cache="false" class="alert alert-secondary alert-dismissible fade show mt-2 mb-0"role="alert">
          <strong><%= alert %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
