<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body <%= 'class=pt-5' unless !user_signed_in? && current_page?(root_path) %>>
    <% if content_for? :navbar %>
      <nav class="container-fluid navbar navbar-dark bg-primary fixed-top">
        <div class="container-sm d-flex">
          <%= yield :navbar %>
        </div>
      </nav>
    <% end %>

    <% if notice || alert %>
      <p class="app-notice"><%= notice %></p>
      <p class="app-alert"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
