<%= form_with(model: operation, url: category_operations_path, class: 'form', id: 'new_operation',
              data: { turbo_cache: false }) do |form| %>
  <% if operation.errors.any? %>
    <div>
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this transaction from being processed:</h2>
      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-2">
    <%= form.label :name, class: 'd-none' %>
    <%= form.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', placeholder: 'Operation name eg. Buy pizza' %>
  </div>

  <div class="field input-group mb-2">
    <span class="input-group-text">$</span>
    <%= form.label :amount, class: 'd-none' %>
    <input
      id="operation_amount"
      type="number"
      class="form-control"
      name="operation[amount]"
      placeholder="Amount"
      min="0"
      step="0.01"
      value=<%= operation.amount_before_type_cast&.abs %>
    >
  </div>

  <div class="field">
    <%= form.label :description, class: 'd-none' %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Description (optional)' %>
  </div>

  <div class="mt-2 p-2 bg-light border border-gray-400 rounded">
    <p class="mb-1 text-gray-600">Current category:</p>
    <div class="d-flex gap-2">
      <img src=<%= url_for current_category.icon %> class="icon-thumbnail" alt="current category">
      <p class="my-auto fs-4"><%= current_category.name %></p>
    </div>
  </div>

  <% if others_categories.any? %>
    <div class="mt-2 p-2 bg-light border border-gray-400 rounded" data-controller="dropdown-picker"
         data-action="dropdown-picker:updated@window->dropdown-picker#updateDropdownList selected-item:unselect@window->dropdown-picker#unselect">
      <ul class="m-0 list-group">
        <%= render partial: 'selected_category', collection: others_categories %>
      </ul>
      <div class="dropdown" data-dropdown-picker-target="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Add another category
        </button>
        <ul class="dropdown-menu dropdown-menu-dark mw-100" aria-labelledby="dropdownMenuButton" data-dropdown-picker-target="dropdownList">
          <%= render partial: 'category', collection: others_categories %>
        </ul>
      </div>
      <input type="hidden" name="operation[categories]" data-dropdown-picker-target="categoriesInput">
    </div>
  <% end %>

<% end %>
